<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
</head>

<template name="layout">
{{> yield}}
<div id="footer">
    <nav class="navbar navbar-default">
        <div class="navbar-inner navbar-content-center">
            <p class="text-muted credit"> This is not a Package made by me This is a Package made by <a href="https://github.com/aldeed">@Aldeed</a>  & <a href="https://github.com/raix">@raix </a>.</p>
        </div>
    </nav>
</div>
</template>